.layout {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.24);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    top: 0;
    left: 0;
    z-index: 100;
}

.layout-active {
    opacity: 1;
    visibility: visible;
}
.layout-not-active {
    opacity: 0;
    visibility: hidden;
}

.modal {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #98b2e0;
    color: #1b1e23;
    padding: 30px;
    border-radius: 20px;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

}
.modal-active {
    opacity: 1;
    visibility: visible;
}
.modal-not-active {
    opacity: 0;
    visibility: hidden;
}